@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "_Layout";
    ViewData["Title"] = "Minions with Docker!!!!";
}

<div>
    <div>
        <span class="label">Hostname:</span>&nbsp;<strong>@ViewBag.HostName</strong>
    </div>
    <div>
        <span class="label">IP-Adress:</span>&nbsp;<i class="ip_address">@ViewBag.IpAddress</i>
    </div>
    @if (ViewBag.MinionType != null)
    {
        <div>
            <span class="label">Minion-Type:</span>&nbsp;<span class="minion_type">@ViewBag.MinionType</span>
        </div>
    }

    @if (Model != null)
    {
    <div>
        <span class="label">Available Minons:</span>&nbsp;
        @foreach (var minion in Model)
        {
            <a class="minion_link" href="./@minion">[@minion]</a>
        }
    </div>
    }
    <div>
        <span class="label">Random Minion:</span>&nbsp;<a class="minion_link" href="./random">[surprise]</a>

    </div>
</div>

<div>
    <pre>
    @ViewBag.AsciiArt
    </pre>
</div>

